body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-74px;
  width:1226px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:30px;
  width:191px;
  height:82px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:82px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:170px;
  top:140px;
  width:225px;
  height:290px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:290px;
}
#u3 {
  position:absolute;
  left:2px;
  top:137px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:430px;
  top:140px;
  width:70px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:430px;
  top:178px;
  width:759px;
  height:252px;
  font-size:14px;
  line-height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:252px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:502px;
  width:144px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:460px;
  top:576px;
  width:759px;
  height:36px;
  line-height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:170px;
  top:550px;
  width:258px;
  height:163px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:163px;
}
#u13 {
  position:absolute;
  left:2px;
  top:74px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:460px;
  top:550px;
  width:840px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#5A95BC;
  line-height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:21px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:730px;
  top:178px;
  width:127px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:460px;
  top:768px;
  width:840px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#5A95BC;
  line-height:21px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:21px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:460px;
  top:799px;
  width:759px;
  height:36px;
  line-height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:460px;
  top:989px;
  width:840px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#5A95BC;
  line-height:21px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:21px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:460px;
  top:1020px;
  width:759px;
  height:36px;
  line-height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:36px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:460px;
  top:1212px;
  width:840px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#5A95BC;
  line-height:21px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:21px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:460px;
  top:1243px;
  width:759px;
  height:54px;
  line-height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:54px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1023px;
  top:178px;
  width:166px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:430px;
  top:198px;
  width:160px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:680px;
  top:198px;
  width:120px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:980px;
  top:198px;
  width:80px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:1090px;
  top:200px;
  width:90px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:697px;
  top:220px;
  width:23px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:613px;
  top:280px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:430px;
  top:408px;
  width:60px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:490px;
  top:408px;
  width:30px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:520px;
  top:408px;
  width:50px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:170px;
  top:989px;
  width:258px;
  height:165px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:165px;
}
#u40 {
  position:absolute;
  left:2px;
  top:74px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:170px;
  top:1212px;
  width:258px;
  height:165px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:165px;
}
#u42 {
  position:absolute;
  left:2px;
  top:74px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:460px;
  top:633px;
  width:136px;
  height:80px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:460px;
  top:1074px;
  width:135px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:605px;
  top:1074px;
  width:136px;
  height:80px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u48 {
  position:absolute;
  left:2px;
  top:32px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:460px;
  top:852px;
  width:136px;
  height:80px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:606px;
  top:852px;
  width:136px;
  height:80px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u52 {
  position:absolute;
  left:2px;
  top:32px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:460px;
  top:1297px;
  width:136px;
  height:80px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:80px;
}
#u54 {
  position:absolute;
  left:2px;
  top:32px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:614px;
  top:1297px;
  width:132px;
  height:80px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:80px;
}
#u56 {
  position:absolute;
  left:2px;
  top:32px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:170px;
  top:768px;
  width:258px;
  height:164px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:164px;
}
#u58 {
  position:absolute;
  left:2px;
  top:74px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:74px;
  top:470px;
  width:1200px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u60 {
  position:absolute;
  left:170px;
  top:736px;
  width:1019px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u61 {
  position:absolute;
  left:170px;
  top:955px;
  width:1019px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u62 {
  position:absolute;
  left:170px;
  top:1177px;
  width:1019px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u63 {
  position:absolute;
  left:170px;
  top:1390px;
  width:1019px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:1002px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1019px;
  height:1px;
}
#u64 {
  position:absolute;
  left:778px;
  top:817px;
  width:62px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5A95BC;
  line-height:21px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u64_img.mouseDown {
}
#u64.mouseDown {
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:852px;
  top:1038px;
  width:62px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5A95BC;
  line-height:21px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u66_img.mouseDown {
}
#u66.mouseDown {
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:893px;
  top:1261px;
  width:62px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5A95BC;
  line-height:21px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u68_img.mouseDown {
}
#u68.mouseDown {
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
